﻿/*@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");
@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
/* reset */


html, body, div, span, a, small, strong, center, li, input, form, tbody, tfoot, footer, header, menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.bu-container {
    display: flex;
    justify-content: center;
    background-image: url("images/15.jpg");
}

.total-cont {
    float: left;
    height: 100%;
    width: 100%;
    border: dashed;
    border-width:thick;
}

.left-cont {
    position: relative;
    float: left;
    height: 100%;
    width: 15%;
    border: none;
    /*border-width:thick;*/
}

.right-cont {
    position: relative;
    float: right;
    height: 100%;
    width: 70%;
    border: none;
    margin-left: 30px;
    /*border-width: thick;*/
}

.button-cent {
    height:200px;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    display: flex;
    flex-flow: column;
}


.img-left {
    float: left;
    height: 350px;
    width: 350px;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 50px;
    /*border: double;*/
    /*background-image: url("images/raw.jpg");*/
    background-size: cover;
}

.img-right {
    float: right;
    height: 350px;
    width: 350px;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-right: 50px;
    /*border: double;*/
    /*background-image: url("images/mod.jpg");*/
    background-size: cover;
}
.slidecontainer {
    width: 70%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 20px;
    background: #1c1c1c;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #bbc83c;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #bbc83c;
        cursor: pointer;
    }


.borderexample {
    border-style: solid;
    border-color: #57b846;
    width: 50%;
}

footer, header, menu, nav {
    display: block;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
}



/* box model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* containers */

.container {
    margin-left: auto;
    margin-right: auto;
}

    .container.\31 25\25 {
        width: 100%;
        max-width: 100em;
        min-width: 80em;
    }

    .container.\37 5\25 {
        width: 60em;
    }

    .container.\35 0\25 {
        width: 40em;
    }

    .container.\32 5\25 {
        width: 20em;
    }

.container {
    width: 80em;
}

@media screen and (max-width: 1680px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 100em;
        min-width: 80em;
    }

    .container.\37 5\25 {
        width: 60em;
    }

    .container.\35 0\25 {
        width: 40em;
    }

    .container.\32 5\25 {
        width: 20em;
    }

    .container {
        width: 80em;
    }
}

@media screen and (max-width: 1280px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 81.25em;
        min-width: 65em;
    }

    .container.\37 5\25 {
        width: 48.75em;
    }

    .container.\35 0\25 {
        width: 32.5em;
    }

    .container.\32 5\25 {
        width: 16.25em;
    }

    .container {
        width: 65em;
    }
}

@media screen and (max-width: 980px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }

    .container.\37 5\25 {
        width: 67.5%;
    }

    .container.\35 0\25 {
        width: 45%;
    }

    .container.\32 5\25 {
        width: 22.5%;
    }

    .container {
        width: 90%;
    }
}

@media screen and (max-width: 736px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }

    .container.\37 5\25 {
        width: 67.5%;
    }

    .container.\35 0\25 {
        width: 45%;
    }

    .container.\32 5\25 {
        width: 22.5%;
    }

    .container {
        width: 90% !important;
    }
}

@media screen and (max-width: 480px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }

    .container.\37 5\25 {
        width: 67.5%;
    }

    .container.\35 0\25 {
        width: 45%;
    }

    .container.\32 5\25 {
        width: 22.5%;
    }

    .container {
        width: 90% !important;
    }
}



/* basic */

@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }
}

body {
    background: #fff;
}

    body.is-loading *, body.is-loading *:before, body.is-loading *:after {
        -moz-animation: none !important;
        -webkit-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }

/* style */

body {
    background-color: #fff;
    color: #111111;
}

body, input, select, textarea {
    /*font-family: 'Notable', sans-serif;*/
    /*font-family: 'Roboto Slab', serif;*/

    /*font-family: 'Righteous';*/
    font-size: 15pt;
    font-weight: 300;
    line-height: 2;
}

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 13pt;
    }
}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 13pt;
    }
}

@media screen and (max-width: 980px) {

    body, input, select, textarea {
        font-size: 12pt;
    }
}

@media screen and (max-width: 736px) {

    body, input, select, textarea {
        font-size: 12pt;
    }
}

@media screen and (max-width: 480px) {

    body, input, select, textarea {
        font-size: 12pt;
    }
}

a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

strong {
    font-weight: 700;
}

h1, h2 {
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
    /*text-transform: uppercase;*/
}

    h1 a, h2 a {
        color: inherit;
        text-decoration: none;
    }

h1 {
    font-size: 2em;
    margin: 0 0 0.25em 0;
}

h2 {
    font-size: 1.75em;
}

@media screen and (max-width: 736px) {

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }
}
/* Box */

.box {
    border-radius: 0;
    border: solid 1px;
    margin-bottom: 2em;
    padding: 1.5em;
}

    .box > :last-child,
    .box > :last-child > :last-child,
    .box > :last-child > :last-child > :last-child {
        margin-bottom: 0;
    }

    .box.alt {
        border: 0;
        border-radius: 0;
        padding: 0;
    }

.box {
    border-color: #bbc83c;
}
/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    font-weight: 700;
    height: 3.5em;
    line-height: 3.65em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
        text-decoration: none;
    }

    input[type="submit"].icon,
    input[type="reset"].icon,
    input[type="button"].icon,
    button.icon,
    .button.icon {
        padding-left: 1.35em;
    }

        input[type="submit"].icon:before,
        input[type="reset"].icon:before,
        input[type="button"].icon:before,
        button.icon:before,
        .button.icon:before {
            margin-right: 0.5em;
        }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    button.fit,
    .button.fit {
        display: block;
        margin: 0 0 1em 0;
        width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    button.small,
    .button.small {
        font-size: 0.8em;
    }

    input[type="submit"].big,
    input[type="reset"].big,
    input[type="button"].big,
    button.big,
    .button.big {
        font-size: 1.35em;
    }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    button.disabled,
    button:disabled,
    .button.disabled,
    .button:disabled {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        opacity: 0.25;
    }

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    background-color: #5a5a5a;
    color: #ffffff !important;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
        background-color: #676767;
    }

    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active,
    button:active,
    .button:active {
        background-color: #4d4d4d;
    }

    input[type="submit"].alt,
    input[type="reset"].alt,
    input[type="button"].alt,
    button.alt,
    .button.alt {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px #e5474b;
        color: #e5474b !important;
    }

        input[type="submit"].alt:hover,
        input[type="reset"].alt:hover,
        input[type="button"].alt:hover,
        button.alt:hover,
        .button.alt:hover {
            background: #fceced;
        }

        input[type="submit"].alt:active,
        input[type="reset"].alt:active,
        input[type="button"].alt:active,
        button.alt:active,
        .button.alt:active {
            background-color: #f9dadb;
        }

        input[type="submit"].alt.icon:before,
        input[type="reset"].alt.icon:before,
        input[type="button"].alt.icon:before,
        button.alt.icon:before,
        .button.alt.icon:before {
            color: #717171;
        }

    input[type="submit"].special,
    input[type="reset"].special,
    input[type="button"].special,
    button.special,
    .button.special {
        background-color: #bbc83c;
        color: #ffffff !important;
    }

        input[type="submit"].special:hover,
        input[type="reset"].special:hover,
        input[type="button"].special:hover,
        button.special:hover,
        .button.special:hover {
            background-color: #bbc83c;
        }

        input[type="submit"].special:active,
        input[type="reset"].special:active,
        input[type="button"].special:active,
        button.special:active,
        .button.special:active {
            background-color: #bbc83c;
        }

/* 'contact us' form */

form {
    margin: 0 0 2em 0;
}

    form .field {
        margin: 0 0 2em 0;
    }

        form .field.half {
            width: 50%;
            float: left;
            padding: 0 0 0 1em;
        }

            form .field.half.first {
                padding: 0 1em 0 0;
            }

    form > .actions {
        margin: 2.5em 0 0 0 !important;
    }

@media screen and (max-width: 736px) {

    form .field {
        margin: 0 0 1.5em 0;
    }

        form .field.half {
            padding: 0 0 0 0.75em;
        }

            form .field.half.first {
                padding: 0 0.75em 0 0;
            }

    form > .actions {
        margin: 2em 0 0 0 !important;
    }
}

@media screen and (max-width: 480px) {

    form .field.half {
        width: 100%;
        float: none;
        padding: 0;
    }

        form .field.half.first {
            padding: 0;
        }
}

label {
    display: block;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0;
    border: none;
    border: solid 3px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

    input[type="text"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    select:invalid,
    textarea:invalid {
        box-shadow: none;
    }

.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

    .select-wrapper:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        /*font-family: 'Roboto Slab', serif;*/
        /*font-family: 'Righteous';*/
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    .select-wrapper:before {
        content: '\f078';
        display: block;
        height: 2.75em;
        line-height: 2.75em;
        pointer-events: none;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 2.75em;
    }

    .select-wrapper select::-ms-expand {
        display: none;
    }

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.75em;
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: 300;
        padding-left: 2.4em;
        padding-right: 0.75em;
        position: relative;
    }

        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            /*font-family: 'Roboto Slab', serif;*/
            /*font-family: 'Righteous';*/
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
            border-radius: 0;
            border: solid 1px;
            content: '';
            display: inline-block;
            height: 1.65em;
            left: 0;
            line-height: 1.58125em;
            position: absolute;
            text-align: center;
            top: 0;
            width: 1.65em;
        }

    input[type="checkbox"]:checked + label:before,
    input[type="radio"]:checked + label:before {
        content: '\f00c';
    }

    input[type="checkbox"] + label:before {
        border-radius: 0;
    }

    input[type="radio"] + label:before {
        border-radius: 100%;
    }

::-webkit-input-placeholder {
    opacity: 1.0;
}

:-moz-placeholder {
    opacity: 1.0;
}

::-moz-placeholder {
    opacity: 1.0;
}

:-ms-input-placeholder {
    opacity: 1.0;
}

.formerize-placeholder {
    opacity: 1.0;
}

label {
    color: #e5474b;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    background: none;
    border-color: #fceced;
}

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    select:focus,
    textarea:focus {
        border-color: #e5474b;
        box-shadow: 0 0 0 1px #e5474b;
    }

.select-wrapper:before {
    color: #e5474b;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    color: #111111;
}

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
        background: none;
        border-color: #e5474b;
    }

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background-color: #e5474b;
    border-color: #e5474b;
    color: #ffffff;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    border-color: #e5474b;
    box-shadow: 0 0 0 1px #e5474b;
}

::-webkit-input-placeholder {
    color: #717171 !important;
}

:-moz-placeholder {
    color: #717171 !important;
}

::-moz-placeholder {
    color: #717171 !important;
}

:-ms-input-placeholder {
    color: #717171 !important;
}

.formerize-placeholder {
    color: #717171 !important;
}

/* list */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

    ol li {
        padding-left: 0.25em;
    }

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

    ul li {
        padding-left: 0.5em;
    }

    ul.alt {
        list-style: none;
        padding-left: 0;
    }

        ul.alt li {
            border-top: solid 1px;
            padding: 0.5em 0;
        }

            ul.alt li:first-child {
                border-top: 0;
                padding-top: 0;
            }

    ul.icons {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

        ul.icons li {
            display: inline-block;
            padding: 0 1em 0 0;
        }

            ul.icons li:last-child {
                padding-right: 0;
            }

            ul.icons li .icon:before {
                font-size: 2em;
            }

    ul.actions {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

        ul.actions li {
            display: inline-block;
            padding: 0 1em 0 0;
            vertical-align: middle;
        }

            ul.actions li:last-child {
                padding-right: 0;
            }

        ul.actions.small li {
            padding: 0 0.5em 0 0;
        }

        ul.actions.vertical li {
            display: block;
            padding: 1em 0 0 0;
        }

            ul.actions.vertical li:first-child {
                padding-top: 0;
            }

            ul.actions.vertical li > * {
                margin-bottom: 0;
            }

        ul.actions.vertical.small li {
            padding: 0.5em 0 0 0;
        }

            ul.actions.vertical.small li:first-child {
                padding-top: 0;
            }

        ul.actions.fit {
            display: table;
            margin-left: -1em;
            padding: 0;
            table-layout: fixed;
            width: calc(100% + 1em);
        }

            ul.actions.fit li {
                display: table-cell;
                padding: 0 0 0 1em;
            }

                ul.actions.fit li > * {
                    margin-bottom: 0;
                }

            ul.actions.fit.small {
                margin-left: -0.5em;
                width: calc(100% + 0.5em);
            }

                ul.actions.fit.small li {
                    padding: 0 0 0 0.5em;
                }

dl {
    margin: 0 0 2em 0;
}

    dl dt {
        display: block;
        font-weight: 700;
        margin: 0 0 1em 0;
    }

    dl dd {
        margin-left: 2em;
    }

ul.alt li {
    border-top-color: #e5474b;
}


/* wrapper */

.wrapper {
    position: relative;
}

    .wrapper > .inner {
        margin: 0 auto;
        width: 60em;
    }

    .wrapper.style1 {
        background-color: #e5474b;
        color: #f2a3a5;
    }

        .wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
            color: #ffffff;
        }

        .wrapper.style1 a {
            color: #ffffff;
        }

        .wrapper.style1 strong, .wrapper.style1 b {
            color: #ffffff;
        }

        .wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
            color: #fff;
        }

        .wrapper.style1 blockquote {
            border-left-color: #fff;
        }

        .wrapper.style1 code {
            background: none;
            border-color: #fff;
        }

        .wrapper.style1 hr {
            border-bottom-color: #fff;
        }

        .wrapper.style1 .box {
            border-color: #fff;
        }

        .wrapper.style1 input[type="submit"],
        .wrapper.style1 input[type="reset"],
        .wrapper.style1 input[type="button"],
        .wrapper.style1 button,
        .wrapper.style1 .button {
            background-color: #5a5a5a;
            color: #ffffff !important;
        }

            .wrapper.style1 input[type="submit"]:hover,
            .wrapper.style1 input[type="reset"]:hover,
            .wrapper.style1 input[type="button"]:hover,
            .wrapper.style1 button:hover,
            .wrapper.style1 .button:hover {
                background-color: #676767;
            }

            .wrapper.style1 input[type="submit"]:active,
            .wrapper.style1 input[type="reset"]:active,
            .wrapper.style1 input[type="button"]:active,
            .wrapper.style1 button:active,
            .wrapper.style1 .button:active {
                background-color: #4d4d4d;
            }

            .wrapper.style1 input[type="submit"].alt,
            .wrapper.style1 input[type="reset"].alt,
            .wrapper.style1 input[type="button"].alt,
            .wrapper.style1 button.alt,
            .wrapper.style1 .button.alt {
                background-color: transparent;
                box-shadow: inset 0 0 0 2px #fff;
                color: #ffffff !important;
            }

                .wrapper.style1 input[type="submit"].alt:hover,
                .wrapper.style1 input[type="reset"].alt:hover,
                .wrapper.style1 input[type="button"].alt:hover,
                .wrapper.style1 button.alt:hover,
                .wrapper.style1 .button.alt:hover {
                    background: rgba(255, 255, 255, 0.25);
                }

                .wrapper.style1 input[type="submit"].alt:active,
                .wrapper.style1 input[type="reset"].alt:active,
                .wrapper.style1 input[type="button"].alt:active,
                .wrapper.style1 button.alt:active,
                .wrapper.style1 .button.alt:active {
                    background-color: rgba(255, 255, 255, 0.2);
                }

                .wrapper.style1 input[type="submit"].alt.icon:before,
                .wrapper.style1 input[type="reset"].alt.icon:before,
                .wrapper.style1 input[type="button"].alt.icon:before,
                .wrapper.style1 button.alt.icon:before,
                .wrapper.style1 .button.alt.icon:before {
                    color: #f8d1d2;
                }

            .wrapper.style1 input[type="submit"].special,
            .wrapper.style1 input[type="reset"].special,
            .wrapper.style1 input[type="button"].special,
            .wrapper.style1 button.special,
            .wrapper.style1 .button.special {
                background-color: #ffffff;
                color: #e5474b !important;
            }

        .wrapper.style1 label {
            color: #ffffff;
        }

        .wrapper.style1 input[type="text"],
        .wrapper.style1 input[type="password"],
        .wrapper.style1 input[type="email"],
        .wrapper.style1 select,
        .wrapper.style1 textarea {
            background: none;
            border-color: rgba(255, 255, 255, 0.25);
        }

            .wrapper.style1 input[type="text"]:focus,
            .wrapper.style1 input[type="password"]:focus,
            .wrapper.style1 input[type="email"]:focus,
            .wrapper.style1 select:focus,
            .wrapper.style1 textarea:focus {
                border-color: #ffffff;
                box-shadow: 0 0 0 1px #ffffff;
            }

        .wrapper.style1 .select-wrapper:before {
            color: #fff;
        }

        .wrapper.style1 input[type="checkbox"] + label,
        .wrapper.style1 input[type="radio"] + label {
            color: #f2a3a5;
        }

            .wrapper.style1 input[type="checkbox"] + label:before,
            .wrapper.style1 input[type="radio"] + label:before {
                background: none;
                border-color: #fff;
            }

        .wrapper.style1 input[type="checkbox"]:checked + label:before,
        .wrapper.style1 input[type="radio"]:checked + label:before {
            background-color: #ffffff;
            border-color: #ffffff;
            color: #e5474b;
        }

        .wrapper.style1 input[type="checkbox"]:focus + label:before,
        .wrapper.style1 input[type="radio"]:focus + label:before {
            border-color: #ffffff;
            box-shadow: 0 0 0 1px #ffffff;
        }

        .wrapper.style1 ::-webkit-input-placeholder {
            color: #f8d1d2 !important;
        }

        .wrapper.style1 :-moz-placeholder {
            color: #f8d1d2 !important;
        }

        .wrapper.style1 ::-moz-placeholder {
            color: #f8d1d2 !important;
        }

        .wrapper.style1 :-ms-input-placeholder {
            color: #f8d1d2 !important;
        }

        .wrapper.style1 .formerize-placeholder {
            color: #f8d1d2 !important;
        }

        .wrapper.style1 ul.alt li {
            border-top-color: #fff;
        }

        .wrapper.style1 header p {
            color: #f8d1d2;
        }

        .wrapper.style1 table tbody tr {
            border-color: #fff;
        }

            .wrapper.style1 table tbody tr:nth-child(2n + 1) {
                background-color: none;
            }

        .wrapper.style1 table th {
            color: #ffffff;
        }

        .wrapper.style1 table thead {
            border-bottom-color: #fff;
        }

        .wrapper.style1 table tfoot {
            border-top-color: #fff;
        }

        .wrapper.style1 table.alt tbody tr td {
            border-color: #fff;
        }

    .wrapper.style2 {
        background-color: #5a5a5a;
        color: #d5d5d5;
    }

        .wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
            color: #ffffff;
        }

        .wrapper.style2 a {
            color: #e5474b;
        }

        .wrapper.style2 strong, .wrapper.style2 b {
            color: #ffffff;
        }

        .wrapper.style2 blockquote {
            border-left-color: rgba(255, 255, 255, 0.15);
        }

        .wrapper.style2 code {
            background: rgba(255, 255, 255, 0.075);
            border-color: rgba(255, 255, 255, 0.15);
        }

        .wrapper.style2 hr {
            border-bottom-color: rgba(255, 255, 255, 0.15);
        }

        .wrapper.style2 .box {
            border-color: rgba(255, 255, 255, 0.15);
        }

        .wrapper.style2 input[type="submit"],
        .wrapper.style2 input[type="reset"],
        .wrapper.style2 input[type="button"],
        .wrapper.style2 button,
        .wrapper.style2 .button {
            background-color: #ffffff;
            color: #5a5a5a !important;
        }

            .wrapper.style2 input[type="submit"].alt,
            .wrapper.style2 input[type="reset"].alt,
            .wrapper.style2 input[type="button"].alt,
            .wrapper.style2 button.alt,
            .wrapper.style2 .button.alt {
                background-color: transparent;
                box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.15);
                color: #ffffff !important;
            }

                .wrapper.style2 input[type="submit"].alt:hover,
                .wrapper.style2 input[type="reset"].alt:hover,
                .wrapper.style2 input[type="button"].alt:hover,
                .wrapper.style2 button.alt:hover,
                .wrapper.style2 .button.alt:hover {
                    background: rgba(255, 255, 255, 0.5);
                }

                .wrapper.style2 input[type="submit"].alt:active,
                .wrapper.style2 input[type="reset"].alt:active,
                .wrapper.style2 input[type="button"].alt:active,
                .wrapper.style2 button.alt:active,
                .wrapper.style2 .button.alt:active {
                    background-color: rgba(255, 255, 255, 0.2);
                }

                .wrapper.style2 input[type="submit"].alt.icon:before,
                .wrapper.style2 input[type="reset"].alt.icon:before,
                .wrapper.style2 input[type="button"].alt.icon:before,
                .wrapper.style2 button.alt.icon:before,
                .wrapper.style2 .button.alt.icon:before {
                    color: #bdbdbd;
                }

            .wrapper.style2 input[type="submit"].special,
            .wrapper.style2 input[type="reset"].special,
            .wrapper.style2 input[type="button"].special,
            .wrapper.style2 button.special,
            .wrapper.style2 .button.special {
                background-color: #e5474b;
                color: #ffffff !important;
            }

                .wrapper.style2 input[type="submit"].special:hover,
                .wrapper.style2 input[type="reset"].special:hover,
                .wrapper.style2 input[type="button"].special:hover,
                .wrapper.style2 button.special:hover,
                .wrapper.style2 .button.special:hover {
                    background-color: #e85d61;
                }

                .wrapper.style2 input[type="submit"].special:active,
                .wrapper.style2 input[type="reset"].special:active,
                .wrapper.style2 input[type="button"].special:active,
                .wrapper.style2 button.special:active,
                .wrapper.style2 .button.special:active {
                    background-color: #e23135;
                }

        .wrapper.style2 label {
            color: #ffffff;
        }

        .wrapper.style2 input[type="text"],
        .wrapper.style2 input[type="password"],
        .wrapper.style2 input[type="email"],
        .wrapper.style2 select,
        .wrapper.style2 textarea {
            background: rgba(255, 255, 255, 0.075);
            border-color: rgba(255, 255, 255, 0.5);
        }

            .wrapper.style2 input[type="text"]:focus,
            .wrapper.style2 input[type="password"]:focus,
            .wrapper.style2 input[type="email"]:focus,
            .wrapper.style2 select:focus,
            .wrapper.style2 textarea:focus {
                border-color: #e5474b;
                box-shadow: 0 0 0 1px #e5474b;
            }

        .wrapper.style2 .select-wrapper:before {
            color: rgba(255, 255, 255, 0.15);
        }

        .wrapper.style2 input[type="checkbox"] + label,
        .wrapper.style2 input[type="radio"] + label {
            color: #d5d5d5;
        }

            .wrapper.style2 input[type="checkbox"] + label:before,
            .wrapper.style2 input[type="radio"] + label:before {
                background: rgba(255, 255, 255, 0.075);
                border-color: rgba(255, 255, 255, 0.15);
            }

        .wrapper.style2 input[type="checkbox"]:checked + label:before,
        .wrapper.style2 input[type="radio"]:checked + label:before {
            background-color: #e5474b;
            border-color: #e5474b;
            color: #ffffff;
        }

        .wrapper.style2 input[type="checkbox"]:focus + label:before,
        .wrapper.style2 input[type="radio"]:focus + label:before {
            border-color: #e5474b;
            box-shadow: 0 0 0 1px #e5474b;
        }

        .wrapper.style2 ::-webkit-input-placeholder {
            color: #bdbdbd !important;
        }

        .wrapper.style2 :-moz-placeholder {
            color: #bdbdbd !important;
        }

        .wrapper.style2 ::-moz-placeholder {
            color: #bdbdbd !important;
        }

        .wrapper.style2 :-ms-input-placeholder {
            color: #bdbdbd !important;
        }

        .wrapper.style2 .formerize-placeholder {
            color: #bdbdbd !important;
        }

        .wrapper.style2 ul.alt li {
            border-top-color: rgba(255, 255, 255, 0.15);
        }

        .wrapper.style2 header p {
            color: #bdbdbd;
        }

        .wrapper.style2 table tbody tr {
            border-color: rgba(255, 255, 255, 0.15);
        }

            .wrapper.style2 table tbody tr:nth-child(2n + 1) {
                background-color: rgba(255, 255, 255, 0.075);
            }

        .wrapper.style2 table th {
            color: #ffffff;
        }

        .wrapper.style2 table thead {
            border-bottom-color: rgba(255, 255, 255, 0.15);
        }

        .wrapper.style2 table tfoot {
            border-top-color: rgba(255, 255, 255, 0.15);
        }

        .wrapper.style2 table.alt tbody tr td {
            border-color: rgba(255, 255, 255, 0.15);
        }

@media screen and (max-width: 1280px) {

    .wrapper > .inner {
        width: 65em;
    }
}

@media screen and (max-width: 980px) {

    .wrapper > .inner {
        width: 100%;
    }
}

/* Header */

body {
    position: relative;
    padding-top: 3em;
}

#header {
    background: #1c1c1c;
    color: #d5d5d5;
    cursor: default;
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}

    #header .inner {
        max-width: 65em;
        width: calc(100% - 6em);
        margin: 0 auto;
        position: relative;
    }

@media screen and (max-width: 480px) {

    #header .inner {
        max-width: 90%;
        width: 90%;
    }
}

#header .logo {
    /*font-family: 'Notable', sans-serif;*/
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Righteous';
    display: inline-block;
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    color: #bbc83c;
    font-size: 1.75em;
    text-transform: none;
    font-weight: normal;
    padding: 0;
}

    #header .logo:hover {
        color: #f1e9a0;
    }

#header a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 2em;
    color: #bbc83c;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .85em;
}

    #header a:hover {
        color: #f1e9a0;
    }

    #header a:last-child {
        padding-right: 0em;
    }

@media screen and (max-width: 736px) {

    #header a {
        padding: 0 0.5em;
    }
}

@media screen and (max-width: 480px) {

    #header {
        min-width: 320px;
    }
}

#nav {
    display: inline-block;
}

@media screen and (max-width: 980px) {

    #nav {
        display: none;
    }
}

#banner {
    background-color: #e5474b;
    color: #f2a3a5;
    padding: 13em 0 11em 0;
    background-color: #0c0c0c;
    background-image: url("images/pear-530191274.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% left;
    text-align: left;
    position: relative;
    z-index: 9999;
}

    #banner input, #banner select, #banner textarea {
        color: #ffffff;
    }

    #banner a {
        color: #ffffff;
    }

    #banner strong, #banner b {
        color: #ffffff;
    }

    #banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
        color: #fff;
    }

    #banner blockquote {
        border-left-color: #fff;
    }

    #banner code {
        background: none;
        border-color: #fff;
    }

    #banner hr {
        border-bottom-color: #fff;
    }

    #banner input[type="submit"],
    #banner input[type="reset"],
    #banner input[type="button"],
    #banner button,
    #banner .button {
        background-color: #5a5a5a;
        color: #ffffff !important;
    }

        #banner input[type="submit"]:hover,
        #banner input[type="reset"]:hover,
        #banner input[type="button"]:hover,
        #banner button:hover,
        #banner .button:hover {
            background-color: #676767;
        }

        #banner input[type="submit"]:active,
        #banner input[type="reset"]:active,
        #banner input[type="button"]:active,
        #banner button:active,
        #banner .button:active {
            background-color: #4d4d4d;
        }

        #banner input[type="submit"].alt,
        #banner input[type="reset"].alt,
        #banner input[type="button"].alt,
        #banner button.alt,
        #banner .button.alt {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px #fff;
            color: #ffffff !important;
        }

            #banner input[type="submit"].alt:hover,
            #banner input[type="reset"].alt:hover,
            #banner input[type="button"].alt:hover,
            #banner button.alt:hover,
            #banner .button.alt:hover {
                background: rgba(255, 255, 255, 0.25);
            }

            #banner input[type="submit"].alt:active,
            #banner input[type="reset"].alt:active,
            #banner input[type="button"].alt:active,
            #banner button.alt:active,
            #banner .button.alt:active {
                background-color: rgba(255, 255, 255, 0.2);
            }

            #banner input[type="submit"].alt.icon:before,
            #banner input[type="reset"].alt.icon:before,
            #banner input[type="button"].alt.icon:before,
            #banner button.alt.icon:before,
            #banner .button.alt.icon:before {
                color: #f8d1d2;
            }

        #banner input[type="submit"].special,
        #banner input[type="reset"].special,
        #banner input[type="button"].special,
        #banner button.special,
        #banner .button.special {
            background-color: #ffffff;
            color: #e5474b !important;
        }

    #banner:after {
        -moz-transition: opacity 4s ease;
        -webkit-transition: opacity 4s ease;
        -ms-transition: opacity 4s ease;
        transition: opacity 4s ease;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;
        background-color: #0c0c0c;
        opacity: 0.25;
    }

    #banner .inner {
        max-width: 65em;
        width: calc(100% - 6em);
        margin: 0 auto;
        position: relative;
        z-index: 10000;
        line-height: 1.5;
    }

@media screen and (max-width: 480px) {

    #banner .inner {
        max-width: 100%;
        width: 100%;
    }
}


body.is-loading #banner:after {
    opacity: 1;
}

@media screen and (max-width: 1680px) {

    #banner {
        padding: 10em 0 8em 0;
    }
}

@media screen and (max-width: 1280px) {

    #banner {
        padding: 8em 0 6em 0;
    }
}

@media screen and (max-width: 980px) {

    #banner {
        padding: 12em 0 10em 0;
    }

        #banner br {
            display: none;
        }
}

@media screen and (max-width: 736px) {

    #banner {
        padding: 4em 0 2em 0;
    }

        #banner h1 {
            font-size: 1.75em;
        }
}

@media screen and (max-width: 480px) {

    #banner {
        padding: 5em 0 3em 0;
    }

        #banner ul {
            margin-top: 1em;
        }
}

#main {
    padding: 4em 0 2em 0;
}


#footer {
    background-color: #bbc83c;
    color: #f2a3a5;
    padding: 4em 0 2em 0;
    background: #bbc83c;
}

    #footer input, #footer select, #footer textarea {
        color: #1c1c1c;
    }

    #footer a {
        color: #1c1c1c;
    }

    #footer strong, #footer b {
        color: #1c1c1c;
    }

    #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
        color: #1c1c1c;
    }

    #footer blockquote {
        border-left-color: #1c1c1c;
    }

    #footer code {
        background: none;
        border-color: #1c1c1c;
    }

    #footer hr {
        border-bottom-color: #1c1c1c;
    }

    #footer input[type="submit"],
    #footer input[type="reset"],
    #footer input[type="button"],
    #footer button,
    #footer .button {
        background-color: #5a5a5a;
        color: #1c1c1c !important;
    }

        #footer input[type="submit"]:hover,
        #footer input[type="reset"]:hover,
        #footer input[type="button"]:hover,
        #footer button:hover,
        #footer .button:hover {
            background-color: #676767;
        }

        #footer input[type="submit"]:active,
        #footer input[type="reset"]:active,
        #footer input[type="button"]:active,
        #footer button:active,
        #footer .button:active {
            background-color: #4d4d4d;
        }

        #footer input[type="submit"].alt,
        #footer input[type="reset"].alt,
        #footer input[type="button"].alt,
        #footer button.alt,
        #footer .button.alt {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px #1c1c1c;
            color: #1c1c1c !important;
        }

            #footer input[type="submit"].alt:hover,
            #footer input[type="reset"].alt:hover,
            #footer input[type="button"].alt:hover,
            #footer button.alt:hover,
            #footer .button.alt:hover {
                background: rgba(255, 255, 255, 0.25);
            }

            #footer input[type="submit"].alt:active,
            #footer input[type="reset"].alt:active,
            #footer input[type="button"].alt:active,
            #footer button.alt:active,
            #footer .button.alt:active {
                background-color: rgba(255, 255, 255, 0.2);
            }

            #footer input[type="submit"].alt.icon:before,
            #footer input[type="reset"].alt.icon:before,
            #footer input[type="button"].alt.icon:before,
            #footer button.alt.icon:before,
            #footer .button.alt.icon:before {
                color: #f8d1d2;
            }

        #footer input[type="submit"].special,
        #footer input[type="reset"].special,
        #footer input[type="button"].special,
        #footer button.special,
        #footer .button.special {
            background-color: #ffffff;
            color: #e5474b !important;
        }

    #footer label {
        color: #1c1c1c;
    }

    #footer input[type="text"],
    #footer input[type="password"],
    #footer input[type="email"],
    #footer select,
    #footer textarea {
        background: none;
        border-color: rgba(255, 255, 255, 0.25);
    }

        #footer input[type="text"]:focus,
        #footer input[type="password"]:focus,
        #footer input[type="email"]:focus,
        #footer select:focus,
        #footer textarea:focus {
            border-color: #1c1c1c;
            box-shadow: 0 0 0 1px #1c1c1c;
        }

    #footer .select-wrapper:before {
        color: #1c1c1c;
    }

    #footer input[type="checkbox"] + label,
    #footer input[type="radio"] + label {
        color: #f2a3a5;
    }

        #footer input[type="checkbox"] + label:before,
        #footer input[type="radio"] + label:before {
            background: none;
            border-color: #1c1c1c;
        }

    #footer input[type="checkbox"]:checked + label:before,
    #footer input[type="radio"]:checked + label:before {
        background-color: #1c1c1c;
        border-color: #1c1c1c;
        color: #e5474b;
    }

    #footer input[type="checkbox"]:focus + label:before,
    #footer input[type="radio"]:focus + label:before {
        border-color: #1c1c1c;
        box-shadow: 0 0 0 1px #1c1c1c;
    }

    #footer ::-webkit-input-placeholder {
        color: #f8d1d2 !important;
    }

    #footer :-moz-placeholder {
        color: #f8d1d2 !important;
    }

    #footer ::-moz-placeholder {
        color: #f8d1d2 !important;
    }

    #footer :-ms-input-placeholder {
        color: #f8d1d2 !important;
    }

    #footer .formerize-placeholder {
        color: #f8d1d2 !important;
    }

    #footer .inner {
        max-width: 65em;
        width: calc(100% - 6em);
        margin: 0 auto;
    }

@media screen and (max-width: 480px) {

    #footer .inner {
        max-width: 90%;
        width: 90%;
    }
}

@media screen and (max-width: 980px) {

    #footer {
        padding: 4em 0 2em 0;
    }
}

@media screen and (max-width: 736px) {

    #footer {
        padding: 2em 0 0.1em 0;
    }
}
